<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Watch our Lectures</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                All available icons
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h1 class="gallery-title">Gallery</h1>
                            </div>

                            <div align="center">
                                <button class="btn btn-default filter-button" data-filter="all">All</button>
                                <button class="btn btn-default filter-button" data-filter="hdpe">HDPE Pipes</button>
                                <button class="btn btn-default filter-button" data-filter="sprinkle">Sprinkle Pipes
                                </button>
                                <button class="btn btn-default filter-button" data-filter="spray">Spray Nozzle</button>
                                <button class="btn btn-default filter-button" data-filter="irrigation">Irrigation
                                    Pipes
                                </button>
                            </div>
                            <br/>


                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<script>
    $(document).ready(function(){

        $(".filter-button").click(function(){
            var value = $(this).attr('data-filter');

            if(value == "all")
            {
                //$('.filter').removeClass('hidden');
                $('.filter').show('1000');
            }
            else
            {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                $(".filter").not('.'+value).hide('3000');
                $('.filter').filter('.'+value).show('3000');

            }
        });

        if ($(".filter-button").removeClass("active")) {
            $(this).removeClass("active");
        }
        $(this).addClass("active");

    });
</script>