<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a target="_blank" href="https://www.youtube.com/channel/UCbhrTLxLFZuH-n3Gz1HhJ-w?sub_confirmation=1"><h1 class="fa fa-youtube fa-4x gallery-title"> ISKCON Columbus TV</h1> </a>
                            </div>

                            <div align="center">
                                <button class="btn btn-default filter-button" data-filter="all">All</button>
                                <button class="btn btn-default filter-button" data-filter="namayagna">Nama Yagna
                                </button>
                                <button class="btn btn-default filter-button" data-filter="sunday-feast">Sunday Feast
                                </button>
                                <button class="btn btn-default filter-button" data-filter="kirtans">Kirtans
                                </button>
                                <button class="btn btn-default filter-button" data-filter="home-programs">Home
                                    Programs
                                </button>
                            </div>
                            <br/>


                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter namayagna">
                                <a href="https://www.youtube.com/watch?v=6phMsWqeCHk&list=PLdvak0BKtch0pzBtoSPhuidnqnWnqljMe&index=1"
                                   target="_blank"><img src="https://img.youtube.com/vi/6phMsWqeCHk/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter namayagna">
                                <a href="https://www.youtube.com/watch?v=2Pn4GLZMBLo&list=PLdvak0BKtch0pzBtoSPhuidnqnWnqljMe&index=2"
                                   target="_blank"><img src="https://img.youtube.com/vi/2Pn4GLZMBLo/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter namayagna">
                                <a href="https://www.youtube.com/watch?v=BFKz_RbkbEA&list=PLdvak0BKtch0pzBtoSPhuidnqnWnqljMe&index=3"
                                   target="_blank"><img src="https://img.youtube.com/vi/BFKz_RbkbEA/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter namayagna">
                                <a href="https://www.youtube.com/watch?v=6Dkb5lxpyl0&list=PLdvak0BKtch0pzBtoSPhuidnqnWnqljMe&index=4"
                                   target="_blank"><img src="https://img.youtube.com/vi/6Dkb5lxpyl0/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sunday-feast">
                                <a href="https://www.youtube.com/watch?v=e0LfkamYYJU&list=PLdvak0BKtch1VxTHpWCYVigxLP4rJTlh6&index=1&t=467s"
                                   target="_blank"><img src="https://img.youtube.com/vi/e0LfkamYYJU/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sunday-feast">
                                <a href="https://www.youtube.com/watch?v=_cp8X-v9TO0&list=PLdvak0BKtch1VxTHpWCYVigxLP4rJTlh6&index=2"
                                   target="_blank"><img src="https://img.youtube.com/vi/_cp8X-v9TO0/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sunday-feast">
                                <a href="https://www.youtube.com/watch?v=kxlJcMf9Oh4&list=PLdvak0BKtch1VxTHpWCYVigxLP4rJTlh6&index=3"
                                   target="_blank"><img src="https://img.youtube.com/vi/kxlJcMf9Oh4/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sunday-feast">
                                <a href="https://www.youtube.com/watch?v=o8aZRdKEVCE&list=PLdvak0BKtch1VxTHpWCYVigxLP4rJTlh6&index=4"
                                   target="_blank"><img src="https://img.youtube.com/vi/o8aZRdKEVCE/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sunday-feast">
                                <a href="https://www.youtube.com/watch?v=hKhGu1XLsVk&list=PLdvak0BKtch1VxTHpWCYVigxLP4rJTlh6&index=5"
                                   target="_blank"><img src="https://img.youtube.com/vi/hKhGu1XLsVk/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sunday-feast">
                                <a href="https://www.youtube.com/watch?v=RwHOofO3rVo&list=PLdvak0BKtch1VxTHpWCYVigxLP4rJTlh6&index=6"
                                   target="_blank"><img src="https://img.youtube.com/vi/RwHOofO3rVo/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sunday-feast">
                                <a href="https://www.youtube.com/watch?v=fVkiBnMKmCo&list=PLdvak0BKtch1VxTHpWCYVigxLP4rJTlh6&index=7"
                                   target="_blank"><img src="https://img.youtube.com/vi/fVkiBnMKmCo/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sunday-feast">
                                <a href="https://www.youtube.com/watch?v=nfzaZy1subY&list=PLdvak0BKtch1VxTHpWCYVigxLP4rJTlh6&index=8"
                                   target="_blank"><img src="https://img.youtube.com/vi/nfzaZy1subY/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sunday-feast">
                                <a href="https://www.youtube.com/watch?v=rdEDc9ChJ1E&list=PLdvak0BKtch1VxTHpWCYVigxLP4rJTlh6&index=9"
                                   target="_blank"><img src="https://img.youtube.com/vi/rdEDc9ChJ1E/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sunday-feast">
                                <a href="https://www.youtube.com/watch?v=nTKD_4TnsEs&list=PLdvak0BKtch1VxTHpWCYVigxLP4rJTlh6&index=10"
                                   target="_blank"><img src="https://img.youtube.com/vi/nTKD_4TnsEs/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sunday-feast">
                                <a href="https://www.youtube.com/watch?v=4D5QLI7ic6Q&list=PLdvak0BKtch1VxTHpWCYVigxLP4rJTlh6&index=11"
                                   target="_blank"><img src="https://img.youtube.com/vi/4D5QLI7ic6Q/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sunday-feast">
                                <a href="https://www.youtube.com/watch?v=fPygAdm3WgI&list=PLdvak0BKtch1VxTHpWCYVigxLP4rJTlh6&index=12"
                                   target="_blank"><img src="https://img.youtube.com/vi/fPygAdm3WgI/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter kirtans">
                                <a href="https://www.youtube.com/watch?v=vb8zwOBHdWM&list=PLdvak0BKtch0libvRPn3UreVvpLtFYt8D&index=1"
                                   target="_blank"><img src="https://img.youtube.com/vi/vb8zwOBHdWM/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter kirtans">
                                <a href="https://www.youtube.com/watch?v=tpDGwoXOGmc&list=PLdvak0BKtch0libvRPn3UreVvpLtFYt8D&index=2"
                                   target="_blank"><img src="https://img.youtube.com/vi/tpDGwoXOGmc/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter kirtans">
                                <a href="https://www.youtube.com/watch?v=vEFzgY3rcSw&list=PLdvak0BKtch0libvRPn3UreVvpLtFYt8D&index=3"
                                   target="_blank"><img src="https://img.youtube.com/vi/vEFzgY3rcSw/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter kirtans">
                                <a href="https://www.youtube.com/watch?v=sBKajcJoG2E&list=PLdvak0BKtch0libvRPn3UreVvpLtFYt8D&index=4"
                                   target="_blank"><img src="https://img.youtube.com/vi/sBKajcJoG2E/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter kirtans">
                                <a href="https://www.youtube.com/watch?v=Phi2IgLQaMA&list=PLdvak0BKtch0libvRPn3UreVvpLtFYt8D&index=5"
                                   target="_blank"><img src="https://img.youtube.com/vi/Phi2IgLQaMA/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter kirtans">
                                <a href="https://www.youtube.com/watch?v=ozhTXbAz1QI&list=PLdvak0BKtch0libvRPn3UreVvpLtFYt8D&index=6"
                                   target="_blank"><img src="https://img.youtube.com/vi/ozhTXbAz1QI/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter kirtans">
                                <a href="https://www.youtube.com/watch?v=BiGGCiaSGCo&list=PLdvak0BKtch0libvRPn3UreVvpLtFYt8D&index=7"
                                   target="_blank"><img src="https://img.youtube.com/vi/BiGGCiaSGCo/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter kirtans">
                                <a href="https://www.youtube.com/watch?v=FsAhyWHLaY0&list=PLdvak0BKtch0libvRPn3UreVvpLtFYt8D&index=8"
                                   target="_blank"><img src="https://img.youtube.com/vi/FsAhyWHLaY0/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter kirtans">
                                <a href="https://www.youtube.com/watch?v=QYWcuv3xcp8&list=PLdvak0BKtch0libvRPn3UreVvpLtFYt8D&index=9"
                                   target="_blank"><img src="https://img.youtube.com/vi/QYWcuv3xcp8/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>

                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter home-programs">
                                <a href="https://www.youtube.com/watch?v=o1rqSP1N6JI&list=PLdvak0BKtch3S3at_jcVFRnqwfywfOD2L&index=1"
                                   target="_blank"><img src="https://img.youtube.com/vi/o1rqSP1N6JI/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter home-programs">
                                <a href="https://www.youtube.com/watch?v=30dkMLBerK8&list=PLdvak0BKtch3S3at_jcVFRnqwfywfOD2L&index=2"
                                   target="_blank"><img src="https://img.youtube.com/vi/30dkMLBerK8/mqdefault.jpg"
                                                        class="img-responsive"></a>
                            </div>

                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<script>
    $(document).ready(function () {

        $(".filter-button").click(function () {
            var value = $(this).attr('data-filter');

            if (value == "all") {
                //$('.filter').removeClass('hidden');
                $('.filter').show('1000');
            }
            else {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                $(".filter").not('.' + value).hide('3000');
                $('.filter').filter('.' + value).show('3000');

            }
        });

        if ($(".filter-button").removeClass("active")) {
            $(this).removeClass("active");
        }
        $(this).addClass("active");

    });
</script>