<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sponsor the Sunday Feast</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Weekly Sunday Love Feast:</h3>
            </div>
            <div class="panel-body">
                <div style="margin-top: 2%; font-size: 110%;">
                    <img id="tithe-img" align="left" style="width:100%; height: 40%; padding: 5px;"
                         src="images/radha-natabara/IMG_1478.JPG">

                </div>
                <br/>
                <hr>
                <h4 style="margin-top: 2%;">Honor special occasions, birthdays, anniversaries, the birth of a child, as
                    well as commemorate
                    departed loved ones by distributing Krishna Prasada. Please call the office at 614-421-1661 to
                    sponsor a Sunday Feast. You can also use the online
                    sponsorship options below.</h4>

                <hr>
                <blockquote>
                    <h4>"One should distribute prashadam to everyone. Know that Lord Krishna is very pleased
                        when everyone is sumptuously fed with vishnu prashada. <i>- Srimad Bhagavatam 8.16.56</i></h4>
                </blockquote>
                <hr>
                <p><strong>Please complete the checkout process below</strong> and email us at iskconcolumbus@gmail.com with any
                    instructions and the Sunday which you'd like to sponsor a feast. If a given Sunday is not available,
                    we will contact you by email with alternate available dates.</p>

                <hr>
                <h2>Sunday Feast
                </h2>

                <strike>Add "Sponsorship level" Paypal widget here</strike>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="K94FLQYGZG3W2">
                    <input type="image"
                           src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/btn/btn_donateCC_LG.gif"
                           border="0"
                           name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0"
                         src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/scr/pixel.gif"
                         width="1" height="1">
                </form>

                <br/><br/><br/>

                We are a 501 (C) (3) non-profit charity organization. Our IRS tax id is xx-xxxxxx and all donations made to "ISKCON Columbus" are tax deductible.

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

    <!-- /.col-lg-6 -->
</div>
