<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sponsor the Sunday Feast</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Weekly Sunday Love Feast:</h3>
            </div>
            <div class="panel-body">
                <div style="margin-top: 2%; font-size: 110%;">
                    <img id="tithe-img" align="left" style="width:100%; height: 40%; padding: 5px;"
                         src="images/radha-natabara/IMG_1478.JPG">

                </div>
                <br/>
                <hr>
                <h4 style="margin-top: 2%;">Honor special occasions, birthdays, anniversaries, the birth of a child, as
                    well as commemorate
                    departed loved ones by distributing Krishna Prasada. Please call the office at 614-421-1661 to
                    sponsor a Sunday Feast. You can also use the online
                    sponsorship options below.</h4>

                <hr>
                <blockquote>
                    <h4>"One should distribute prashadam to everyone. Know that Lord Krishna is very pleased
                        when everyone is sumptuously fed with vishnu prashada. <i>- Srimad Bhagavatam 8.16.56</i></h4>
                </blockquote>
                <hr>
                <p><strong>Please complete the checkout process below</strong> and email us at iskconcolumbus@gmail.com
                    with any
                    instructions and the Sunday which you'd like to sponsor a feast. If a given Sunday is not available,
                    we will contact you by email with alternate available dates.</p>
                <hr>
                <div class="col-lg-6" style="text-align: center">
                    <h2>Sponsor Sunday Feast
                    </h2>

                    <div class="panel-body">
                        <div class="alert alert-success">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="W8EER4UCNV8QC">
                                <table style="margin: 0 25%">
                                    <tr>
                                        <td><input type="hidden" name="on0" value="Sunday Feast Sponsorship">Sunday
                                            Feast Sponsorship
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><select name="os0">
                                            <option value="Prashada">Prashada $250</option>
                                            <option value="Maha Prashada">Maha Prashada $350</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td><input type="hidden" name="on1" value="Sponsorship Date:">Sponsorship Date:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="os1" maxlength="200"></td>
                                    </tr>
                                </table>
                                <br/>
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="image"
                                       src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/btn/btn_donateCC_LG.gif"
                                       border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                     width="1" height="1">
                            </form>


                        </div>
                    </div>
                </div>
                <br/>
                <h5><strong>Automatic deduction By Bank:</strong> To make a monthly donation through ACH debit directly
                    and securely from your bank (thereby save 2.5% transaction fee to temple) please fill the form here:
                    <br/><a ui-sref="dashboard.ach-debit-form">ACH Debit Form</a>
                    <br/><br/>
                    <strong>Automatic deduction (You set it up): </strong>Set up an automatic monthly payment
                    through
                    your <strong>bank website</strong>
                    or
                    <strong>paypal </strong>website or <strong>credit card </strong>website. (We will receive a
                    check
                    written by your bank). This method
                    is
                    free with most banks and credit cards and we don't receive service charges! If setting up on
                    your
                    own:
                    Payee name: ISKCON Columbus, Address: <u>379 West 8th Ave
                        Columbus, OH 43201.</u> If you have any
                    questions, call us at 614-421-1661 or stop by in the temple.
                    <br/><br/>
                    <strong>Make Checks Payable </strong>to "ISKCON Columbus" with the memo "Tithe"
                    <br/><br/>
                    <strong>Delivery options: </strong>Send check by mail or put it in the hundi.
                    <br/><br/>
                    <strong>Cash: </strong>Put an envelope in the hundi marked with your name or stop by at the
                    temple
                    office 10 AM - 8
                    PM.</h5>

                <br/><br/><br/>

                We are a 501 (C) (3) non-profit charity organization. Our IRS tax id is xx-xxxxxx and all donations made
                to "ISKCON Columbus" are tax deductible.

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

    <!-- /.col-lg-6 -->
</div>
