<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sponsor Book Distribution</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Sponsor Vedic Literature - Book Distribution</h3>
            </div>
            <div class="panel-body">
                <div style="margin-top: 2%; font-size: 110%;">
                    <h4>At the <strong>Columbus Hare Krishna Temple</strong> we take the distribution of Srila
                        Prabhupada's books as a
                        priority. Srila Prabhupada told us that Book Distribution is his life and soul. He also
                        said,<br/>
                        <i>"Even if one reads just one line carefully (from ISKCON books), his life will be successful!"<br/>
                            "Every word, each and every word, is for the good of human society."</i></h4>
                    <br>
                    <img id="tithe-img" align="center" style="width:100%; height: 20%; padding: 5px;"
                         src="images/srila-prabhupada/SP6.jpg">

                </div>
                <br/>
                <hr>
                <h5>Srila Prabhupada traveled around the world 12 times, delivered thousands of lectures, wrote
                    thousands of
                    letters, and met with many important scholars and dignitaries who very much appreciated his efforts.
                    In
                    addition to this rigorous schedule he translated 51 volumes of important scriptures. His books are
                    used
                    in many universities and are translated in 79 languages. Over 464 Million copies of these books have
                    been distributed so far.Please help spread this knowledge. Transcendental book distribution is the
                    greatest welfare activity for the world. Srila Bhaktisiddhanta Sarasvati Thakura has called it the
                    brhat
                    mrdanga. He explained "If we do kirtan, it means we will hear within this room. But if we do book
                    distribution it means we will hear home to home, country to country, community to community".
                    <img id="gita-img" align="right" style="width:40%; height: 40%; padding: 5px;"
                         src="images/srila-prabhupada/gita.JPG"></h5>

                <hr>
                <br/>

                <h2>Book Distribution is Most Important and Pleasing to Srila Prabhupada:</h2>

                <hr>
                <blockquote> Your report of book distribution is very encouraging. Please go on increasing more and
                    more. Yes, you
                    should become the topmost temple for distributing my books. This is a very good proposal. That is
                    the
                    only way to please me. Distribute my books profusely. That is real preaching. (Letter to: Bala Krsna
                    -
                    Vrindaban 23 October, 1976)
                </blockquote>
                <hr>

                <blockquote>This book distribution is the essence of our mission. (Letter to: Rupanuga - Bombay 18
                    December, 1974)<
                </blockquote>

                <blockquote>Go on selling books. That is my desire. (Letter to: Kurusrestha: - Ahmedabad 26 September,
                    1975)
                </blockquote>

                <blockquote>Your report of the book distribution there is very encouraging. Make program to distribute
                    our books all
                    over the world. Our books are being appreciated by learned circles, so we should take advantage.
                    Whatever progress we have made, it is simply to distributing these books. So go on, and do not
                    divert
                    your mind for a moment from this. I have full confidence in you. (Letter to: Ramesvara: - Mayapur 11
                    October, 1974)
                </blockquote>

                <blockquote>Whenever there is any publication in any language, it enlivens me 100 times. (Letter to:
                    Hamsaduta: -
                    Mayapur 19 October, 1974)
                </blockquote>

                <blockquote>Prabhupada: You consult among you. So I want to see simply distribution of books in any
                    language. That I
                    want. (Room Conversation - July 27-28, 1977, Vrndavana)
                </blockquote>

                <h3>Sponsor one pack* of Bhagavad Gita for distribution, donate $108.</h3>
                <hr>

                <div class="col-lg-6" style="text-align: center">
                    <h2>Sponsor Bhagavad Gita Pack(s)
                    </h2>

                    <div class="panel-body">
                        <div class="alert alert-success">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="RZ52R52QTE2SL">
                                <table style="margin: 0 20%;">
                                    <tr>
                                        <td><input type="hidden" name="on0" value="Sponsor Bhagavad Gita Pack(s)">Sponsor
                                            Bhagavad Gita Pack(s)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><select name="os0">
                                            <option value="Bhagavad Gita Pack">Bhagavad Gita Pack $108.00 USD</option>
                                            <option value="Srimad Bhagavatam Set">Srimad Bhagavatam Set $350.00 USD
                                            </option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td><input type="hidden" name="on1" value="Memo">Memo</td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="os1" maxlength="200"></td>
                                    </tr>
                                </table> <br/>
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
                                       border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                     width="1" height="1">
                            </form>

                            <h6>*A Pack contains 12 Hard Bound Bhagavad Gitas.</h6>

                        </div>
                    </div>
                </div>
                <br/>
                <h5><strong>Automatic deduction By Bank:</strong> To make a monthly donation through ACH debit directly
                    and securely from your bank (thereby save 2.5% transaction fee to temple) please fill the form here:
                    <br/><a ui-sref="dashboard.ach-debit-form">ACH Debit Form</a>
                    <br/><br/>
                    <strong>Automatic deduction (You set it up): </strong>Set up an automatic monthly payment
                    through
                    your <strong>bank website</strong>
                    or
                    <strong>paypal </strong>website or <strong>credit card </strong>website. (We will receive a
                    check
                    written by your bank). This method
                    is
                    free with most banks and credit cards and we don't receive service charges! If setting up on
                    your
                    own:
                    Payee name: ISKCON Columbus, Address: <u>379 West 8th Ave
                        Columbus, OH 43201.</u> If you have any
                    questions, call us at 614-421-1661 or stop by in the temple.
                    <br/><br/>
                    <strong>Make Checks Payable </strong>to "ISKCON Columbus" with the memo "Tithe"
                    <br/><br/>
                    <strong>Delivery options: </strong>Send check by mail or put it in the hundi.
                    <br/><br/>
                    <strong>Cash: </strong>Put an envelope in the hundi marked with your name or stop by at the
                    temple
                    office 10 AM - 8
                    PM.</h5>

                <br/><br/>
                <h3>Distribute Books - General </h3><br/>
                Give a donation of an amount of your choice and we'll use it towards books for distribution.
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="K94FLQYGZG3W2">
                    <input type="image"
                           src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/btn/btn_donateCC_LG.gif"
                           border="0"
                           name="submit" alt="PayPal - The safer, easier way to pay online!">
                </form>
                <br/><br/>

                We are a 501 (C) (3) non-profit charity organization. Our IRS tax id is xx-xxxxxx and all donations made
                to "ISKCON Columbus" are tax deductible.

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

    <!-- /.col-lg-6 -->
</div>
