<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tithe - Support Monthly</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Join our tithing family:</h3>
            </div>
            <div class="panel-body">
                <div style="margin-top: 2%; font-size: 110%;">
                    <img id="tithe-img" align="left" src="images/radha-natabara/IMG_1468.JPG">
                    A temple needs the support of its congregation to remain solvent and stable and to provide
                    services for the community on a regular basis. Tithing, the regular commitment of a monthly
                    donation to support the functioning of our temple, defines your relationship with Krishna.
                    95% of our community does not have time on a daily basis to offer physical service at the temple.
                    But you can still be a direct part of the seva here by supporting these activities through
                    financial contributions.
                </div>

                <h1>
                    Srila Prabhupada says it best in a Bhagavad-gita purport:
                </h1>
                <hr>
                <blockquote>
                    <h4>"One should be sympathetic to the propagation of Krishna consciousness. There are many devotees
                        who
                        are engaged in the propagation of Krishna consciousness, and they require help. So, even if one
                        cannot directly practice the regulative principles of bhakti-yoga, he can try to help such work.
                        Every endeavor requires land, capital, organization, and labor. Just as, in business, one
                        requires a
                        place to stay, some capital to use, some labor, and some organization to expand, so the same is
                        required in the service of Krishna. The only difference is that in materialism one works for
                        sense
                        gratification. The same work, however, can be performed for the satisfaction of Krishna, and
                        that is
                        spiritual activity. If one has sufficient money, he can help in building an office or temple for
                        propagating Krishna consciousness. Or he can help with publications. There are various fields of
                        activity, and one should be interested in such activities. If one cannot sacrifice the results
                        of
                        such activities, the same person can still sacrifice some percentage to propagate Krishna
                        consciousness. This voluntary service to the cause of Krishna consciousness will help one to
                        rise to
                        a higher state of love for God, whereupon one becomes perfect." - <i>Bhagavad-gita As It Is,
                            Chapter
                            12, Verse 10, Purport </i></h4>
                </blockquote>
                <hr>
                <p>Receive Lord Krishna's blessings by sharing a portion of your income. Krishna reciprocates with those
                    who surrenders to Him. No amount is insignificant, everything helps.</p>

                <h2>Principle Reasons to Tithe:</h2>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">
                        Support Temple services - prasadam distribution, Deity worship, book distribution, classes,
                        gardens, cow protection, and preaching
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Assist the Temple to reach out to our congregation of devotees.
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        Take a step towards selfless service by practicing generosity.
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Set a good example to your children and fellow devotees.
                    </li>
                    <li class="list-group-item list-group-item-success">
                        Know you are pleasing Srila Prabhupada, Sri Sri Gaura Nitai, Sri Sri Radha Syamasundara, and Sri
                        Sri Krishna Balarama.
                    </li>
                </ul>
                <hr>

                <h3>Remember that 365 days a year our ISKCON Temple maintains </h3>

                <ul class="list-unstyled" style="margin-left: 2%; letter-spacing: 3px;">
                    <ul>
                        <li>Breathtaking Daily viewings (darshans) of Sri Sri Radha Shyamasundar, Sri Sri
                            Krishna-Balarama and Sri Sri Gaura Nitai including gorgeous dresses and jewelry.
                        </li>
                        <li>Daily Srimad Bhagavatam classes.</li>
                        <li>Daily breakfast and lunch prasadam.</li>
                        <li>Prasadam distribution at OSU Campus and Sunday Feasts.</li>
                        <li>Maintenence of Srimati Tulasi devi for the pleasure of Sri Krishna.</li>
                        <li>Organic gardens for the pleasure of the Deities and community.</li>
                        <li>Many annual festivals, weekly Harinama Sankirtan and transcedental book distribution.</li>
                        <li>AND MUCH MORE...</li>
                    </ul>

                </ul>
                <hr>
                <h2>How to Setuo Tithe
                </h2>

                <strike>Add "Monthly subscription" Paypal widget here</strike>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="K94FLQYGZG3W2">
                    <input type="image"
                           src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/btn/btn_donateCC_LG.gif"
                           border="0"
                           name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0"
                         src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/scr/pixel.gif"
                         width="1" height="1">
                </form>
                <hr>
                <h5><strong>Automatic deduction (we set it up):</strong> Automatically have your <strong>credit
                    card</strong> or <strong>bank account </strong>charged
                    through
                    our secure system. You can tithe weekly/monthly/quarterly or any other duration you like. For this
                    method, you will need to do a one time donation on the checkout page below and then email us - once
                    we
                    are contacted we are able to set up a recurring tithe. We accept Mastercard, Visa, Discover, and
                    American Express credit cards.
                    <br/><br/>
                    <strong>Automatic deduction (You set it up): </strong>Set up an automatic monthly payment through
                    your <strong>bank website</strong>
                    or
                    <strong>paypal </strong>website or <strong>credit card </strong>website. (We will receive a check
                    written by your bank). This method
                    is
                    free with most banks and credit cards and we don't receive service charges! If setting up on your
                    own:
                    Payee name: ISKCON Columbus, Address: <u>379 West 8th Ave
                        Columbus, OH 43201.</u> If you have any
                    questions, call us at 614-421-1661 or stop by in the temple.
                    <br/><br/>
                    <strong>Make Checks Payable </strong>to "ISKCON Columbus" with the memo "Tithe"
                    <br/><br/>
                    <strong>Delivery options: </strong>Send check by mail or put it in the hundi.
                    <br/><br/>
                    <strong>Cash: </strong>Put an envelope in the hundi marked with your name or stop by at the temple
                    office 10 AM - 8
                    PM.</h5>
                <br/><br/><br/>
                We are a 501 (C) (3) non-profit charity organization. Our IRS tax id is xx-xxxxxx and all donations made
                to “ISKCON Columbus” are tax deductible.

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

    <!-- /.col-lg-6 -->
</div>
