<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tithe - Support Monthly</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Join our tithing family:</h3>
            </div>
            <div class="panel-body">
                <div style="margin-top: 2%; font-size: 110%;">
                    <img id="tithe-img" align="left" src="images/radha-natabara/IMG_1468.JPG">
                    A temple needs the support of its congregation to remain solvent and stable and to provide
                    services for the community on a regular basis. Tithing, the regular commitment of a monthly
                    donation to support the functioning of our temple, defines your relationship with Krishna.
                    95% of our community does not have time on a daily basis to offer physical service at the temple.
                    But you can still be a direct part of the seva here by supporting these activities through
                    financial contributions.
                </div>

                <button class="accordionSection">
                    Srila Prabhupada says it best in a Bhagavad-gita purport:
                </button>
                <div class="panelSection list-group-item list-group-item-warning">
                    <p>"One should be sympathetic to the propagation of Krishna consciousness. There are many
                        devotees
                        who
                        are engaged in the propagation of Krishna consciousness, and they require help. So, even if
                        one
                        cannot directly practice the regulative principles of bhakti-yoga, he can try to help such
                        work.
                        Every endeavor requires land, capital, organization, and labor. Just as, in business, one
                        requires a
                        place to stay, some capital to use, some labor, and some organization to expand, so the same
                        is
                        required in the service of Krishna. The only difference is that in materialism one works for
                        sense
                        gratification. The same work, however, can be performed for the satisfaction of Krishna, and
                        that is
                        spiritual activity. If one has sufficient money, he can help in building an office or temple
                        for
                        propagating Krishna consciousness. Or he can help with publications. There are various
                        fields of
                        activity, and one should be interested in such activities. If one cannot sacrifice the
                        results
                        of
                        such activities, the same person can still sacrifice some percentage to propagate Krishna
                        consciousness. This voluntary service to the cause of Krishna consciousness will help one to
                        rise to
                        a higher state of love for God, whereupon one becomes perfect." - <strong>Bhagavad-gita As It
                            Is,
                            Chapter
                            12, Verse 10, Purport </strong></p>
                </div>
                <hr>
                <p>Receive Lord Krishna's blessings by sharing a portion of your income. Krishna reciprocates with those
                    who surrenders to Him. No amount is insignificant, everything helps.</p>

                <h2>Principle Reasons to Tithe:</h2>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">
                        Support Temple services - prasadam distribution, Deity worship, book distribution, classes,
                        gardens, cow protection, and preaching
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Assist the Temple to reach out to our congregation of devotees.
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        Take a step towards selfless service by practicing generosity.
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Set a good example to your children and fellow devotees.
                    </li>
                    <li class="list-group-item list-group-item-success">
                        Know you are pleasing Srila Prabhupada, Sri Sri Gaura Nitai, Sri Sri Radha Syamasundara, and Sri
                        Sri Krishna Balarama.
                    </li>
                </ul>
                <hr>

                <h3>Remember that 365 days a year our ISKCON Temple maintains </h3>

                <ul class="list-unstyled" style="margin-left: 2%; letter-spacing: 3px;">
                    <ul>
                        <li>Breathtaking Daily viewings (darshans) of Sri Sri Radha Shyamasundar, Sri Sri
                            Krishna-Balarama and Sri Sri Gaura Nitai including gorgeous dresses and jewelry.
                        </li>
                        <li>Daily Srimad Bhagavatam classes.</li>
                        <li>Daily breakfast and lunch prasadam.</li>
                        <li>Prasadam distribution at OSU Campus and Sunday Feasts.</li>
                        <li>Maintenence of Srimati Tulasi devi for the pleasure of Sri Krishna.</li>
                        <li>Organic gardens for the pleasure of the Deities and community.</li>
                        <li>Many annual festivals, weekly Harinama Sankirtan and transcedental book distribution.</li>
                        <li>AND MUCH MORE...</li>
                    </ul>

                </ul>
                <hr>
                <div class="col-lg-4" style="text-align: center">
                    <h2>How to Setup Tithe
                    </h2>

                    <div class="panel-body">
                        <div class="alert alert-success">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="7JES623MWRDFJ">
                                <table align="center">
                                    <tr>
                                        <td><input type="hidden" name="on0" value="My Tithing Pledge is">My Tithing
                                            Pledge is
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><select name="os0">
                                            <option value="Option 1">Option 1 : $25.00 USD - monthly</option>
                                            <option value="Option 2">Option 2 : $50.00 USD - monthly</option>
                                            <option value="Option 3">Option 3 : $75.00 USD - monthly</option>
                                            <option value="Option 4">Option 4 : $100.00 USD - monthly</option>
                                            <option value="Option 5">Option 5 : $250.00 USD - monthly</option>
                                            <option value="Option 6">Option 6 : $500.00 USD - monthly</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td><input type="hidden" name="on1" value="Please add memo">Please add memo</td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="os1" maxlength="200"></td>
                                    </tr>
                                </table>
                                <br/>
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="image"
                                       src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0"
                                       name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                     width="1" height="1">
                            </form>


                        </div>
                    </div>
                </div>
                <br/>
                <h5><strong>Automatic deduction By Bank:</strong> To make a monthly donation through ACH debit directly
                    and securely from your bank (thereby save 2.5% transaction fee to temple) please fill the form here:
                    <br/><a ui-sref="dashboard.ach-debit-form">ACH Debit Form</a>
                    <br/><br/>
                    <strong>Automatic deduction (You set it up): </strong>Set up an automatic monthly payment
                    through
                    your <strong>bank website</strong>
                    or
                    <strong>paypal </strong>website or <strong>credit card </strong>website. (We will receive a
                    check
                    written by your bank). This method
                    is
                    free with most banks and credit cards and we don't receive service charges! If setting up on
                    your
                    own:
                    Payee name: ISKCON Columbus, Address: <u>379 West 8th Ave
                        Columbus, OH 43201.</u> If you have any
                    questions, call us at 614-421-1661 or stop by in the temple.
                    <br/><br/>
                    <strong>Make Checks Payable </strong>to "ISKCON Columbus" with the memo "Tithe"
                    <br/><br/>
                    <strong>Delivery options: </strong>Send check by mail or put it in the hundi.
                    <br/><br/>
                    <strong>Cash: </strong>Put an envelope in the hundi marked with your name or stop by at the
                    temple
                    office 10 AM - 8
                    PM.</h5>
                <br/><br/><br/>
                We are a 501 (C) (3) non-profit charity organization. Our IRS tax id is xx-xxxxxx and all donations
                made
                to 'ISKCON Columbus' are tax deductible.

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <script>
        var acc = document.getElementsByClassName("accordionSection");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            }
        }
    </script>
    <!-- /.col-lg-6 -->
</div>
