<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">At your service</h1>
    </div>
    <div class="col-lg-12" style="text-align: center">
        <!--<img src="../../images/srila-prabhupada/SP13.jpg" class="img-responsive img-circle"-->
        <!--style="display:inline"-->
        <!--alt="Bird" width="350" height="350">-->

        <!--<img class="img-responsive img-circle" id="tithe-img" align="left" src="images/srila-prabhupada/SP13.jpg">-->
        <br/>

        <div>
            <h4>ISKCON Columbus is managed by Temple Council (TC), group of devotees, Temple Council
                currently consists of:</h4>
            <br/>

            <p>Prem Vilas das (gulla007@hotmail.com)</p>

            <p>Naveen Krishna das (rns.naveenkrishandas@gmail.com)</p>

            <p>Prema Sindhu das (premasindhu@gmail.com)</p>

            <p>Rama Tirtha das (ramatirtha.rns@gmail.com)</p>
            <br/>
            If you need any information that is not found on the website, please contact any one of the temple council
            members who would be glad to provide the information.
        </div>

        <br/>
        <hr>
        <h1 style="text-align: center">Temple Residents</h1>

        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Partha Das
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div>
                            <img src="../../images/home/partha.JPG" class="img-responsive img-circle"
                                 style="display:inline"
                                 alt="Partha Das" width="300" height="350">

                            <h4>PUJARI</h4>

                            <p>Partha Das was born in Kolkata, West Bengal. He joined The International Society for
                                Krishna Consciousness (ISKCON) after reading the "Bhagavad-Gita As It Is" written by His
                                Divine Grace A.C. Bhaktivedanta Swami Prabhupada. Srila Prabhupada's Gita answered many
                                of the questions that Partha Das had been asking.</p>

                            <p> The lessons from Srila Prabhupada that have made the greatest impact on Partha Das's
                                life are the explanation and the significance of the four regulative principles, and the
                                power of the Maha Mantra. Partha Das is a disciple of ... Swami, who gave him
                                initiation in .... He enjoys listening to the lectures of ... Swami, because
                                the lectures are very inspiring.</p>

                            <p> Partha Das is the "handyman" of the ISKCON Columbus temple. He provides such services as
                                painting, shopping, cleaning, fixing different items around the temple, cooking for the
                                Deities and the devotees. Presently Partha Das serves as a certified temple Kitchen
                                Manager and he is on the Executive Committee for the ISKCON Columbus temple. He
                                contributes to the long term planning for the temple as well as making sure things go
                                smoothly on a day to day basis.</p>

                            <p>
                                <i class="fa fa-map-marker"></i> 379 W 8th Ave, Columbus, OH 43201
                            </p>

                            <p><i class="fa fa-phone"></i> Phone : +1 614-421-1661</p>

                            <p><i class="fa fa-envelope"></i> E-mail : iskconcolumbus@gmail.com</p>
                        </div>
                        <h3>I'm an adventurer</h3>
                    </div>
                    <!-- .panel-body -->
                </div>
                <!-- /.panel -->
            </div>

            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Jagannatha Das
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <>
                        <img src="../../images/home/jagannatha.JPG" class="img-responsive img-circle"
                             style="display:inline"
                             alt="Jagannatha Das" width="300" height="350">

                        <h4> KITCHEN MANAGER</h4>

                        <p>Jagannatha Das was born in Ohio, USA. He joined The International Society for
                            Krishna Consciousness (ISKCON) after reading the "Bhagavad-Gita As It Is" written by His
                            Divine Grace A.C. Bhaktivedanta Swami Prabhupada. Srila Prabhupada's Gita answered many
                            of the questions that Jagannatha Das had been asking.</p>

                        <p> The lessons from Srila Prabhupada that have made the greatest impact on Jagannatha Das's
                            life are the explanation and the significance of the four regulative principles, and the
                            power of the Maha Mantra. Jagannatha Das is a disciple of ... Swami, who gave him
                            initiation in .... He enjoys listening to the lectures of ... Swami, because
                            the lectures are very inspiring.</p>

                        <p> Jagannatha Das is the "handyman" of the ISKCON Columbus temple. He provides such services as
                            painting, shopping, cleaning, fixing different items around the temple, cooking for the
                            Deities and the devotees. Presently Jagannatha Das serves as a certified temple Kitchen
                            Manager and he is on the Executive Committee for the ISKCON Columbus temple. He
                            contributes to the long term planning for the temple as well as making sure things go
                            smoothly on a day to day basis.</p>

                        <p>
                            <i class="fa fa-map-marker"></i> 379 W 8th Ave, Columbus, OH 43201
                        </p>

                        <p><i class="fa fa-phone"></i> Phone : +1 614-421-1661</p>

                        <p><i class="fa fa-envelope"></i> E-mail : iskconcolumbus@gmail.com</p>

                    </div>
                </div>
                <!-- .panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <br/>
        <hr>
    </div>


    <h1 style="text-align: center">Visit us</h1>

    <div class="overlay" onClick="style.pointerEvents='none'"></div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.732827642373!2d-83.01912858510767!3d39.99207557941673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88388eea2e220463%3A0x4f95e3ec9b88a211!2sISKCON+Temple!5e0!3m2!1sen!2sus!4v1494100183136"
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div>
        <!-- /.col-lg-12 -->
        <section id="contact">
            <div class="section-content">
                <h1 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s"
                                                 data-wow-duration="2s">Contact Us</span></h1>

                <h3>Phone: 614-421-1661<br/>
                    *** Temple is open from 5am to 9pm</h3>
            </div>
            <div class="contact-section">
                <div class="container">
                    <form method="POST" action="lib/send.php">
                        <div class="col-md-6 form-line">
                            <div class="form-group">
                                <label for="exampleInputUsername">Your name</label>
                                <input type="text" class="form-control" id="exampleInputUsername" name="name"
                                       placeholder=" Enter Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail">Email Address</label>
                                <input type="email" class="form-control" id="exampleInputEmail" name="email"
                                       placeholder=" Enter Email id">
                            </div>
                            <div class="form-group">
                                <label for="telephone">Mobile No.</label>
                                <input type="tel" class="form-control" id="telephone" name="telephone"
                                       placeholder=" Enter 10-digit mobile no.">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description"> Message</label>
                                <textarea class="form-control" id="description" name="description"
                                          placeholder="Enter Your Message"></textarea>
                            </div>
                            <div>

                                <button type="submit" class="btn btn-default submit"><i class="fa fa-paper-plane"
                                                                                        aria-hidden="true"></i> Send
                                    Message
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
